#!/bin/bash
# Brewfile hash: {{ include "dot_config/Brewfile" | sha256sum }}

{{ if eq .chezmoi.os "darwin" -}}

if command -v brew >/dev/null 2>&1; then
  echo "Updating packages..."
  BREWFILE="${HOME}/.config/Brewfile"
  if ! test  -f "${BREWFILE}"; then
    cp "${HOME}/.local/share/chezmoi/dot_config/Brewfile" "${BREWFILE}"
  fi
  export PATH="${HOME}/.cargo/bin:${PATH}"
  brew bundle --verbose --file "$HOME/.config/Brewfile" || true
else
  echo "🛑 Homebrew is required, but was not install. See: https://brew.sh"
  exit 1
fi

{{ end -}}

